<div id="homeJumbo">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron my-4">
        <h1 class="display-4">Airport Dashboard</h1>
        <p class="lead">
          Welcome to your Airport Dashboard!
        </p>
        <hr class="my-4">
        <p>
          This utility retrieves the latest weather observation data for various airports around the U.S. directly from the National Weather Service database.
        </p>
        <p>
          To add an airport to the dashboard, please enter the <b>IATA Airport Code</b> for the desired airport into the search bar above.
          <br>
          <span class="text-muted">Example: 'BDL' for Bradley International Airport.</span>
        </p>
        <hr>
        <p>
          To remove an airport from the dashboard by clicking on the "Remove" button located on the airport card. To re-add the airport, simply search for it again.
        </p>
        <p class="mb-0">
          To refresh the data for an airport at any time to retrieve the latest observation data provided by the National Weather Service.
        </p>
      </div>
    </div>
  </div>
</div>